.list {
  display: flex;
  flex-direction: row;
  width: 1000px;
}
.time {
  font-family: 'Roboto';
  font-size: 16px;
  color: #475569;
  margin-left: 10px;
}
.web-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  height: 20px;
  width: 20px;
  margin-top: 18px;
  margin-left: 10px;
}
.title {
  font-family: 'Roboto';
  font-size: 16px;
  color: #475569;
  margin-left: 10px;
}
.button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 0px;
  padding-top: 0px;
}
